<div class="this-card">
    <div class="this-item">
        <b>ID:</b> {{book?.id}}
    </div>

    <div class="this-item">
        <b>Name:</b> {{book?.name}}
    </div>

    <div class="this-item">
        <b>Authors: </b>{{book?.authors}}
    </div>

    <div class="this-item">
        <b>ISBN: </b>{{book?.isbn}}
    </div>

    <div class="center">
        <button class="shokyu" (click)="delete(23)">Delete</button>
        <button class="henshu" (click)="(21)">Edit</button>
    </div>
</div>