<!-- Book Form-->
<div class="w-full items-center flex justify-center mt-6 pb-8">
  <form
    [formGroup]="bookForm"
    class="bg-slate-600 shadow-md rounded px-8 pt-6 pb-8 mb-4 w-96"
  >
    <!-- Form Heading -->
    <div class="grid place-items-center">
      <h2
        class="py-4 text-6xl font-normal leading-normal text-gray-100 md:flex md:items-center my-6"
      >
        {{title.toUpperCase()}}
      </h2>
    </div>

    <!-- Book Name -->
    <div class="mb-4 form-group">
      <label for="name" class="block text-gray-200 text-sm mb-2">
        Name:</label>
      <input
        type="text"
        formControlName="name"
        placeholder="Enter book name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline form-control"
      />
      <div *ngIf="name?.errors?.['minlength']" class="alert alert-danger">
        Minimum Length: 2
      </div>
      <div *ngIf="name?.errors?.['maxlength']" class="alert alert-danger">Maximum Length: 28 </div>
    </div>

    <!-- Authors -->
    <ng-container formArrayName="addNewAuthor">
        <!-- Label: -->
        <label for="author" class=" block text-gray-200 text-sm mb-2"
        >Author:</label>
        <div *ngFor="let _ of ff.controls; index as i" class="input-group">
            <!-- Textbox -->
            <div class="flex w-full mb-4 mt-2">
                <input [formControlName] ="i" placeholder="Enter name of author"
                class="shadow appearance-none border rounded p-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline form-control col-span-5" required
              />
                <button type="button" class="bg-red-700 p-2" (click)="deleteAuthor(i)"><mat-icon>delete</mat-icon></button>
            </div>
        </div>
        <div class="grid place-items-center">
            <button class="bg-gray-700 hover:bg-black text-white py-2 px-4 rounded-md cursor-pointer" (click)="addAuthor()">Add New Author</button>
        </div>
        
    </ng-container>

    <!-- ISBN -->
    <div class="mb-4 form-group">
      <label
        for="isbn"
        class="block text-gray-200 text-sm mb-2"
        >ISBN:</label
      >
      <input
        formControlName="isbn"
        type="text"
        placeholder="Enter isbn here.."
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline form-control" required
      />
      <div *ngIf="isbn?.errors?.['minlength']" class="alert alert-danger">
        Minimum Length: 2
      </div>
      <div *ngIf="isbn?.errors?.['maxlength']" class="alert alert-danger">Maximum Length: 10 </div>
      
    </div>

    <!-- Submit -->
    <div class="grid place-items-center ">
      <input
        type="submit"
        value="Add Book"
        class="bg-gray-700 hover:bg-black text-white  py-2 px-4 rounded-lg cursor-pointer"
      />
    </div>
  </form>
</div>
