.details {
    display: flex;
    text-align: center;
    margin: 20px;
    justify-content: space-between;
}
.main-head {
    text-align: center;
    font-size: 35px;
    text-shadow: 3px 2px 3px rgb(110, 108, 108);

}